<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app="myApp" ng-controller="myController">
    <form ng-submit="add()">
        <input type="text" ng-model="a">
    </form>
    <ul>
        <li ng-repeat="item in arr">{{item}}</li>
    </ul>
    <script src="./libs/angular.js"></script>
    <script>
        var myApp = angular.module('myApp',[]);
        myApp.controller('myController',['$scope',function($scope){
            $scope.arr = [2,3,4,5];
            $scope.add = function(){
                $scope.arr.push($scope.a);
            };
            //如何监视arr的变化?
            $scope.$watch('arr',function(){
                console.log(111);
            },true)
        }]);
    </script>
</body>
</html>